<div id="container">
  <header>
    <h1 class="title">HTML5 Drawing</h1>
  </header>
  <div id="main" role="main">
    <p>
      <%= link_to "Slideshow", 'info.html5.html' %>
    </p>
    <p>
      <%= link_to "Canvas: Balls", 'balls.html' %>
    </p>
    <p>
      <%= link_to "Canvas: Bitmaps", 'bitmap.html' %>
    </p>
    <p>
      <%= link_to "SVG: Balls", 'svgballs.html' %>
    </p>
  </div>
</div>
    