<div id="container">
  <header>
    <h1 class="title">Canvas: Geometric shapes w/physics</h1>
  </header>
  <div id="main" role="main">
    <ul id="controls">
      <li><input type="range" name="num_balls" min="5" max="75" step="1" value="5"> 
        <span id="nballs">5</span> Balls
      </li>
    </ul>
    Click on canvas to play or pause
    <canvas id="maincanvas" width="800" height="600"></canvas>
    <p>
      <h2><a id="free" href="#">Freedom!</a></h2>
    </p>
  </div>
  <footer>
    Source: 
    <a href="docs/scene.js.html">scene</a> | <a href="docs/collisions.js.html">collisions</a>
  </footer>
</div> <!--! end of #container -->
<script defer src="js/index.js"></script>