<div id="container">
  <header>
    <h1 class="title">Canvas: Pool</h1>
  </header>
  <div id="main" role="main">
    <ul id="controls">
      <li></li>
    </ul>
    Instructions:
    <canvas id="poolcanvas" width="600" height="800"></canvas>
    <p>
    </p>
  </div>
  <footer>
    Source: 
    <a href="docs/collisions.js.html">collisions</a>
  </footer>
</div> <!--! end of #container -->
<script defer src="js/pool.js"></script>