<% content_for(:head) do %>
  <link href="css/rotate.css" rel="stylesheet" type="text/css" media="screen" />
<% end %>
<div id="container">
  <header>
    <h1 class="title">Canvas: Rotating objects collison detection</h1>
  </header>
  <div id="main" role="main">
    <ul id="controls">
      <li>
      </li>
    </ul>
    Click on canvas to play or pause
    <canvas id="maincanvas" width="800" height="600"></canvas>
    <p>
    </p>
  </div>
  <footer>
    Source: 
    <a href="docs/rot_collisions.js.html">collisions</a>
  </footer>
</div> <!--! end of #container -->
<script defer src="js/rot_collisions.js"></script>