<% content_for(:head) do %>
  <link href="css/rotate.css" rel="stylesheet" type="text/css" media="screen" />
<% end %>
<div id="container">
  <header>
    <h1 class="title">Canvas: Rotating objects collison detection</h1>
  </header>
  <div id="main" role="main">
    <ul id="controls">
      <li>
        Starting angle: <input type="range" name="sAngle" min="0" max="90" step="1" value="10">
        <span id="sangle"></span> degrees
      </li>
      <li>
        Angular velocity: <input type="range" name="angVel" min="1" max="180" step="1" value="25">
        <span id="angvel"></span> degrees/second
      </li>
      <li>
        <input type="radio" name="object" value="1" checked='checked'> Stationary ball
      </li>
      <li>
        <input type="radio" name="object" value="2"> Moving ball
      </li>
      <li>
        <input type="radio" name="object" value="3"> Stationary line
      </li>
      <li>
        <input type="radio" name="object" value="4"> Rotating line
      </li>
      <li>
        <input type="checkbox" name="rotationOffset" value="1"> Line rotating around a point
      </li>
    </ul>
    Click on canvas to play or pause
    <canvas id="maincanvas" width="800" height="600"></canvas>
    <div id="info">
    </div>
  </div>
  <footer>
    Source: 
    <a href="docs/rot_collisions.js.html">collisions</a>
  </footer>
</div> <!--! end of #container -->
<script defer src="js/rot_collisions.js"></script>