<div id="container">
  <header>
    <h1 class="title">Springs simulations</h1>
  </header>
  <section>
    <canvas id="maincanvas" width="800" height="600"></canvas>
    <div id="info">
    </div>
  </section>
</div> <!--! end of #container -->
<script defer src="js/springs.js"></script>
<footer>
  Source: 
  <a href="docs/springs.js.html">springs</a>
</footer>