<div id="container">
  <header>
    <h1 class="title">Springs simulations</h1>
  </header>
  <section>
    <nav>
      <a href="#" class="dhm">DHM</a> |
      <a href="#" class="forceFromSpring">Force from spring</a> |
      <a href="#" class="particleOnSpring">Particle on spring</a> |
      <a href="#" class="multiSpring">Connected springs</a>
    </nav>
    
    <ul id="controls">
      <li>
        <label>Spring length: </label><input type="range" name="springLen" min="10" max="600" step="5" value="300"/>
        <span id="springLen"></span>
      </li>
      <li>
        <label>Min. length: </label><input type="range" name="springMinLen" min="10" max="600" step="5" value="100"/>
        <span id="springMinLen"></span>
      </li>
      <li>
        <label>Spring elasticity: </label><input type="range" name="springElasticity" min="1" max="100" step="1" value="5"/>
        <span id="springElasticity"></span>
      </li>
      <li>
        <label>Damping: </label><input type="range" name="springDamping" min="0" max="5" step="0.1" value=".05"/>
        <span id="springDamping"></span>
      </li>
      <li>
        <label>Elastic limit: </label><input type="range" name="elasticLimit" min="10" max="500" step="5" value="120"/>
        <span id="elasticLimit"></span>
      </li>
      <li>
        <label>Compressiveness: </label><input type="radio" name="compressiveness" value="loose"/> Loose
          <input type="radio" name="compressiveness" value="rigid"/> Rigid 
          <input type="radio" name="compressiveness" value="compressive"/ checked="checked"> Compressive
      </li>
      <li>
        <label>Particle mass: </label><input type="range" name="pMass" min="1" max="50" step="1" value="10"/>
        <span id="pMass"></span>
      </li>
    </ul>
    <div id="info">
      <span id="ffsInstructions">Use Up / Down Arrows to move spring endpoint</span>
      <span id="posInstructions">Click and throw a particle</span>
      <span id="instructions"/>
    </div>
    <canvas id="maincanvas" width="800" height="600"></canvas>
    
  </section>
</div> <!--! end of #container -->
<script defer src="js/springs.js"></script>
<footer>
  Source: 
  <a href="docs/springs.js.html">springs</a>
</footer>